/.ipynb_checkpoints/

/thesis/mmcs_sfedu_thesis/bachelorDiploma.aux
/thesis/mmcs_sfedu_thesis/bachelorDiploma.bcf
/thesis/mmcs_sfedu_thesis/bachelorDiploma.log
/thesis/mmcs_sfedu_thesis/bachelorDiploma.out
/thesis/mmcs_sfedu_thesis/bachelorDiploma.pdf
/thesis/mmcs_sfedu_thesis/bachelorDiploma.run.xml
/thesis/mmcs_sfedu_thesis/bachelorDiploma.synctex.gz
/thesis/mmcs_sfedu_thesis/bachelorDiploma.tex
/thesis/mmcs_sfedu_thesis/bachelorDiploma.thm
/thesis/mmcs_sfedu_thesis/bachelorDiploma.toc
/thesis/mmcs_sfedu_thesis/main.aux
/thesis/mmcs_sfedu_thesis/main.bbl
/thesis/mmcs_sfedu_thesis/main.bcf
/thesis/mmcs_sfedu_thesis/main.blg
/thesis/mmcs_sfedu_thesis/main.dvi
/thesis/mmcs_sfedu_thesis/main.fdb_latexmk
/thesis/mmcs_sfedu_thesis/main.fls
/thesis/mmcs_sfedu_thesis/main.log
/thesis/mmcs_sfedu_thesis/main.out
/thesis/mmcs_sfedu_thesis/main.out.ps
/thesis/mmcs_sfedu_thesis/main.run.xml
/thesis/mmcs_sfedu_thesis/main.synctex.gz
/thesis/mmcs_sfedu_thesis/main.thm
/thesis/mmcs_sfedu_thesis/main.toc
/thesis/mmcs_sfedu_thesis/README.md
/thesis/mmcs_sfedu_thesis/core/title_macro.log
/plotter/unet_own.log
/plotter/unet_own.tex
/plotter/unet_own.aux
/plotter/unet_own.pdf
/plotter/unet_own.synctex.gz
/thesis/mmcs_sfedu_thesis/texput.log
.idea/
out/
thesis/mmcs_sfedu_thesis/img/conv_transposed/
thesis/mmcs_sfedu_thesis/img/dec_out/
thesis/mmcs_sfedu_thesis/img/example/
thesis/mmcs_sfedu_thesis/img/find_contr/
thesis/mmcs_sfedu_thesis/img/iou_vis/
thesis/mmcs_sfedu_thesis/img/mask_results/
thesis/mmcs_sfedu_thesis/img/new_arch/
thesis/mmcs_sfedu_thesis/img/normalization/
thesis/mmcs_sfedu_thesis/img/pre_classified_output/
thesis/mmcs_sfedu_thesis/img/results/
thesis/mmcs_sfedu_thesis/img/sky_segmentation/
thesis/mmcs_sfedu_thesis/img/softmax_debug_info/
thesis/presentation/presentation.aux
thesis/presentation/presentation.log
thesis/presentation/presentation.nav
thesis/presentation/presentation.out
thesis/presentation/presentation.snm
thesis/presentation/presentation.toc
thesis/presentation/slides/01.aux
thesis/presentation/slides/02.aux
thesis/presentation/slides/03.aux
thesis/presentation/slides/04.aux
thesis/presentation/slides/05.aux
thesis/presentation/slides/06.aux
thesis/presentation/slides/07.aux
thesis/presentation/slides/08.aux
thesis/presentation/slides/09.aux
thesis/presentation/slides/10.aux
thesis/presentation/slides/11.aux
thesis/presentation/slides/12.aux
thesis/presentation/slides/13.aux
thesis/presentation/slides/14.aux
